html {
  scroll-behavior: smooth;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.container {
  max-width: 1440px;
  margin: auto;
}

.logo_svg {
  width: 49px;
  height: 28px;
  margin-right: 20px;
}


#logo {
  text-transform: uppercase;
  max-width: 199px;
  max-height: 33px;
  display: flex;
  color: white;
}

li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;

}

.header-nav {
  display: flex;
  max-width: 720px;
}

h2 {
font-size: 50px;
}

.section-title {
  font-family: "Forum" serif;
  Letter-spacing: 5px;
  text-transform: uppercase;
  Color: #9D8665
}

.container-explore {
  display: flex;
}

.white-title {
Color: white;
}

p {
  font-family: "Roboto" sans-serif;
  margin: 0;
  font-size: 22px;
}/*переделать*/

.panorama {
color: black;
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  letter-spacing: 0%;
}

.card {
  display: block;
}

h4 {
  color: black;
    font-family: "Roboto" serif;
    font-size: 22px;
    letter-spacing: 0%;
}

.underline-title {
    position: relative;
  }

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.dark-section {
  background: #030303;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.explore-img {
  padding-left: 75px;
}

.white-text{
  color: white;
}

.explore-gold {
  color: #CAAA7D;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 80px;
}

.journey-text {
   max-width: 720px;
   max-height: 90px;
}

.journey {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-section{
padding-top: 90px;
}

.header {
  background: #030303;
}

nav {
  max-width: 1440px;
  display: flex;
  align-items: auto;
  margin: auto;
}




#parallax {
  background-image: url(assets/img/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}



.footer {
  padding: 30px 55px;
  background: #030303;
}

.footer_wrapper {
  display: flex;
  align-items: center;
}

.footer-nav {
  max-width: 363px;
  display: flex;
  flex-wrap: wrap;
}

.social_links {
  max-width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.social_link {
  border-radius: 50%;
  border: 5px;
  border-color: #666666;
  margin: auto;
}/*не работает*/

